[submodule "exams"]
	path = exams
	url = https://github.com/zhoujingya/Test-e.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/zhoujingya/learning-cxx
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/zhoujingya/rustlings
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/zhoujingya/TinyInfiniTensor.git
